name: Update Daily News
on:
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Fetch
        run: |
          curl -sL -A "Mozilla/5.0" "https://news.yahoo.co.jp" | grep -o '<title>.*</title>' | sed -e 's/<title>//g' -e 's/<\/title>//g' | sed -e 's/（.*）//g' -e 's/(.*)//g' | tail -n +2 > news.txt
      - name: Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add news.txt
          git commit -m "Update news" || exit 0
          git push
